html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  color: white;
  /* height: 100%; */
}

* {
  box-sizing: border-box;
}

h2 {
  letter-spacing: -0.05rem;
}

small {
  letter-spacing: -0.025rem;
}

#root {
  height: inherit;
}

.App {
  text-align: center;
  height: inherit;
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
