@import '../../../styles/global.scss';

.root {
  > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      @extend %clickable;

      p {
        font-weight: bolder;
        font-size: x-large;
        margin: 0;
      }

      :last-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.active {
  border-bottom: 2px solid white;
}

.content {
  //
}
